header{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px solid orange;
}

footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-top: 7px solid orange;
}

.partial {
    border: 1px solid red;
    padding: 15px;
}

table th {
    background-color: #fbc25b;
    padding: 10px 20px;
}

table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}